// Color
$thgrey: #C2C3BD;
$linegrey: #E6E8E5;
$contentgrey: #EEEEEC;

// Font
$titleFonts: 'caslon_antiqueregular';
$contentFonts: 'albertina_mt_stdregular';

@font-face {
  font-family: 'albertina_mt_stdregular';
  src: url('../fonts/albertinamtstd-regular-webfont.woff2') format('woff2'),
  url('../fonts/albertinamtstd-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caslon_antiqueregular';
  src: url('../fonts/caslonantique-webfont.woff2') format('woff2'),
  url('../fonts/caslonantique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Mixin
@mixin no-padding($side) {
  @if $side == 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

p {
  text-align: center;
  position: relative;
  z-index: 10;
  font-weight: bold;
}

// Générique
body {
  font-family: $contentFonts !important;
  font-size: 16px !important;
  -webkit-print-color-adjust: exact;
}

.main {
  page-break-after: always;
}

.bold {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.wrapper {
  page-break-after: always;
  margin-bottom: 20px;
  border: 3px solid #000;
  border-radius: 0 0 10px 10px;
  width:100%;
}

.icon-role {
  height: 54px;
  width: 60px !important;
  position: relative;
}

.icon-power {
  height: 54px;
  width: 60px !important;
  position: relative;
}

.octogone {
  background: url("../img/octogone.png") top left no-repeat;
  width: 60px;
  height: 60px;

  p {
    text-align: center;
    line-height: 18px;
    padding-top: 8px;

    span {
      font-weight: bold;
      font-size:20px;
      color: white !important;
    }
  }

  img {
    position: absolute;
    top: 14px;
    left: 19px;
  }
}

// Titre de la feuille d'unité
.header {

  .header__title {
    color: white;
    background-color: black !important;
  }

  th {
    padding: 0px 10px;
  }

  th:not(:last-child) {
    width: 10%;
  }

  .unit-title {
    font-size: 30px;
    font-weight: normal;
    font-family: $titleFonts !important;
    padding: 10px 20px;
  }
}

// Nom de l'unité
.name__head {
  background-color: $thgrey;
  font-weight: bold;
  border-bottom: 1px solid #000;

  :not(:first-child) {
    text-align: center;
  }

  td {
    width: 4%;
  }

  td:first-child {
    padding: 5px 10px;
    width: 6.7%;
    text-transform: uppercase;
  }
}

.name__content {

  :not(:first-child) {
    text-align: center;
  }

  td:first-child {
    padding: 5px 10px;
  }
}

// Weapon de l'unité

.weapon__head {
  background-color: $thgrey !important;
  font-weight: bold;
  border-bottom: 1px solid #000;

  :not(:first-child):not(:last-child) {
    text-align: center;
  }

  td:first-child {
    padding: 5px 10px;
    width: 16%;
    text-transform: uppercase;
  }
}

.weapon__content {

  :not(:first-child):not(:last-child) {
    text-align: center;
  }

  td:first-child {
    padding: 6px 10px;
  }

  td:not(:first-child) {
    text-align: center;
  }

  td:nth-child(3) {
    text-align: left !important;
  }

  td:last-child {
    text-align: left !important;
  }
  td {
    padding: 0 5px;
  }
}

.weapon__content_grey,
.name__content_grey {
  background-color: $linegrey !important;
}

// Contenu
.content {
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: $contentgrey;

  td:first-child {
    width: 16%;
    font-weight: bold;
    vertical-align: top;
    padding: 10px 10px;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 10px 10px 10px 0;
    margin: 0px;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

// Psyker
.psyker {
  overflow: hidden;
  border-bottom: 1px solid #000;
  background-color: $contentgrey;

  td:first-child {
    width: 16%;
    font-weight: bold;
    vertical-align: top;
    padding: 10px 10px;
    text-transform: uppercase;
  }
}

// Footer
.footer {
  background-color: $contentgrey;
  border-radius: 0 0 10px 10px;

  td:first-child {
    font-weight: bold;
    padding: 5px 10px;
    width: 16%;
    text-transform: uppercase;
  }
}

// Tank
.wrapper__tank {
  position: relative;
  margin-bottom: 20px;
  width: 100%;

  span {
    color: red;
  }

  .tank__header {
    margin-bottom: 15px;
  }

  .tank__name {
    border: 3px solid #000;
    height: 170px;
  }

  .tank__damage {
    background: white;
    border: 3px solid #000;
    height: 170px;

    .tank__damage_caption {
      padding: 5px 10px;
      font-size: 13px;
      margin-bottom: 2px;
      text-align: left;

      span {
        font-weight: bold;
      }
    }

    .tank__damage_table {
      text-align: center;
      font-size: 13px;

      tr:first-child {
        border-top:1px solid #000;
        border-bottom: 1px solid #000;
        background-color: $thgrey;

        th:first-child {
          width: 44%;
        }
      }

      .weapon__content td:first-child {
        padding: 0px 10px;
      }
    }
  }
  .wrapper__tank_content {
    border: 3px solid #000;
    border-radius: 0 0 10px 10px;
  }
}
