<div class="row tank__header">
    <div class="col-9">
        <div class="tank__name">
            <!-- Nom de l'unité -->
            <table class="header">
                <thead class="header__title">
                <tr>
                    <th class="icon-role">
                        <div class="octogone">
                            <img src="../../img/Heavy-Support.png" width="43" height="36" alt="QG" />
                        </div>
                    </th>
                    <th class="icon-power">
                        <div class="octogone">
                            <p><span>20</span><br />power</p>
                        </div>
                    </th>
                    <th class="unit-title">Leman Russ Battle Tanks</th>
                </tr>
                </thead>
            </table>
            <!-- Stat de l'unité -->
            <table class="name">
                <tr class="name__head">
                    <td>Unit</td>
                    <td>M</td>
                    <td>WS</td>
                    <td>BS</td>
                    <td>S</td>
                    <td>T</td>
                    <td>W</td>
                    <td>A</td>
                    <td>Ld</td>
                    <td>Save</td>
                </tr>
                <tr class="name__content">
                    <td>Leman Russ</td>
                    <td><span>*</span></td>
                    <td>6+</td>
                    <td><span>*</span></td>
                    <td>7</td>
                    <td>8</td>
                    <td>12</td>
                    <td><span>*</span></td>
                    <td>7</td>
                    <td>2+</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-3 no-padding-left">
        <!-- Bloc stat dégréssif -->
        <div class="tank__damage">
            <p class="tank__damage_caption">
                <span>DAMAGE</span><br/>
                Some of this model's characteristics change as it suffer damage, as shown below:
            </p>
            <table class="tank__damage_table">
                <tbody>
                <tr>
                    <th>Remaining W</th>
                    <th>M</th>
                    <th>BS</th>
                    <th>A</th>
                </tr>
                <tr>
                    <td>6-12+</td>
                    <td>10"</td>
                    <td>4+</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>3-5</td>
                    <td>7"</td>
                    <td>5+</td>
                    <td>D3</td>
                </tr>
                <tr>
                    <td>1-2</td>
                    <td>4"</td>
                    <td>6+</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>