<table class="header">
    <thead class="header__title">
        <tr>
            <th class="icon-role">
                <div class="octogone">
                    <img src="../../img/HQ.png" width="43" height="36" alt="HQ" />
                </div>
            </th>
            <th class="icon-power">
                <div class="octogone">
                    <p><span>20</span><br />power</p>
                </div>
            </th>

            <th class="unit-title">Commissar Yarrick</th>
        </tr>
    </thead>
</table>