<table class="name">
    <tr class="name__head">
        <td>Unit</td>
        <td>M</td>
        <td>WS</td>
        <td>BS</td>
        <td>S</td>
        <td>T</td>
        <td>W</td>
        <td>A</td>
        <td>Ld</td>
        <td>Save</td>
    </tr>
    <tr class="name__content">
        <td>Commissar Yarrick</td>
        <td>6"</td>
        <td>2+</td>
        <td>2+</td>
        <td>3</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>9</td>
        <td>3+</td>
    </tr>
</table>