<table class="weapon">
    <tr class="weapon__head">
        <td>Weapon</td>
        <td>Range</td>
        <td>Type</td>
        <td>S</td>
        <td>AP</td>
        <td>D</td>
        <td>Abilities</td>
    </tr>
    <tr class="weapon__content">
        <td>Battle Cannon</td>
        <td>72"</td>
        <td>Heavy D6</td>
        <td>8</td>
        <td>-2</td>
        <td>D3</td>
        <td>-</td>
    </tr>
    <tr class="weapon__content weapon__content_grey">
        <td>Heavy bolter</td>
        <td>36"</td>
        <td>Heavy 3</td>
        <td>5</td>
        <td>-1</td>
        <td>1</td>
        <td>-</td>
    </tr>
    <tr class="weapon__content">
        <td>Heavy stubber</td>
        <td>36"</td>
        <td>Heavy 3</td>
        <td>4</td>
        <td>0</td>
        <td>1</td>
        <td>-</td>
    </tr>
    <tr class="weapon__content weapon__content_grey">
        <td>Hunter-killer missile</td>
        <td>48"</td>
        <td>Heavy 1</td>
        <td>8</td>
        <td>-2</td>
        <td>D6</td>
        <td>A model can only fire each of its hunter killer
            missiles once per battle.
        </td>
    </tr>
    <tr class="weapon__content">
        <td>Punisher Gatling Cannon</td>
        <td>24"</td>
        <td>Heavy 20</td>
        <td>5</td>
        <td>0</td>
        <td>1</td>
        <td>-</td>
    </tr>
    <tr class="weapon__content weapon__content_grey">
        <td>Storm bolter</td>
        <td>24"</td>
        <td>Rapid Fire 2</td>
        <td>4</td>
        <td>0</td>
        <td>1</td>
        <td>-</td>
    </tr>
</table>